
{% extends 'base.html' %}
{% load static %}
{% block content %}
  

<img class="responsive" src="{% static 'img/images.jpeg' %}" alt="akon">
<img class="responsive" src="{% static 'img/globe.png' %}" alt="akon">


<br> 

<div class ="container">
	<div class="col-lg-4 ">

		<h3><div class="glyphicon glyphicon-comment"></div>
			<i><u><span>Storytelling</u></i></span>
		</h3>
		<br>
		<p >
			We focus on delivering timelessness: experiences that are immediately compelling, but endurably engaging. By embracing the interactivity of an online platform while taking into account the ubiquity of web browsing, we create experiences tailored to online sensibilities.
		</p>
	</div>
	<div class="col-lg-4 ">

		<h3><div class="glyphicon glyphicon-pencil"></div>
			<i><u><span>Storytelling</u></i></span>
		</h3>
		<br>
		<p >
			We focus on delivering timelessness: experiences that are immediately compelling, but endurably engaging. By embracing the interactivity of an online platform while taking into account the ubiquity of web browsing, we create experiences tailored to online sensibilities.
		</p>
	</div>
	<div class="col-lg-4 ">

		<h3><div class="glyphicon glyphicon-edit"></div>
			<i><u><span>Storytelling</u></i></span>
		</h3>
		<br>
		<p >
			We focus on delivering timelessness: experiences that are immediately compelling, but endurably engaging. By embracing the interactivity of an online platform while taking into account the ubiquity of web browsing, we create experiences tailored to online sensibilities.
		</p>
	</div>
</div>

{% endblock %}