{% if user.is_authenticated %}
<h1> Todo list</h1>

<div class= "filter">
	<b>Filter By:</b></td>
	<a href= "{% url 'index' %}?filter=completed" 
			class="{% if filter == 'completed' %}active{% endif %}">Completed</a>
	<a href= "{% url 'index' %}?filter=pending"
			class="{% if filter == 'pending' %}active{% endif %}">Pending</a>
	<a href= "{% url 'index' %}?filter=all"
			class="{% if filter == 'all' %}active{% endif %}">All</a>
</div>	
<ul class = "list-group-item">
	{% if not items%}
	<div class="alert alert-warning">
	<p>No item in the list</p></div>
	{% else %}
	{% for item in items %}
	<li class = "list-group-item" ><input type="checkbox" {% if item.completed %}checked{% endif %} data-id="{{item.id}}" class="todo-complete-check" />
		{{ item.title}}

		<!-- yesko css style.css ma xa -->
	
		
		<a href="{% url 'remove' item.id %}"><span class = "glyphicon glyphicon-remove">remove</span></a>
	
		<a href="{% url 'edit' item.id %}"><span class= "glyphicon glyphicon-pencil"> edit<span></a>
		
		
	
</li>

	{% endfor %}
	{% endif %}
	
	
</ul>
{% else %}
<b><h2>You need to <a href= "{% url 'login' %}">login </a> first...
{% endif %}



	